$title-block-color:#5E6282;
$title-offer-color:#14183E;
$title-card-color: #1E1D4C;
$describtion-text-color: #5E6282;
$category_before-elem: #DF6951;
$title-trip-color: #080809;
$trip-text-color: #84829A;

$color-burger-menu: #E5E5E5;