/* .background_cross{
    position: absolute;
    right: -5%;
    bottom:-10%;
    z-index: -99;
} */

.form{
    /* margin-top: rem(125); */ 
    height: auto;
    background: url('../img/background/bg-cross_form.svg');
    background-position: 100% 115%;
    background-origin: content-box;
    background-repeat: no-repeat;
    min-height: rem(500);
    position: relative;

    &-decore{
        position: absolute;
        z-index: -3;
        opacity: 0.2;
        &_left{
            left: 0;
            bottom: 0;
        }
        &_right{
            top: 0;
            right: 0;
        }
    }


    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        position: relative;
        margin: rem(70);
        z-index: 99;
        min-height: 80%;
        padding: rem(70) rem(150);
        border-radius: 129px 20px  20px  20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        background:   rgb(223, 215, 249, 0.2);

    }
    &__img{
        position: absolute;
        top: rem(-20);
        right: rem(-20);
        
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


    }
    &__label{
        margin-top: rem(40);
    }
    &__email{
        width: rem(421);
        height:rem(68);
        border:none;
        border-radius: 10px;
        margin-right: rem(25);
        text-indent: rem(20);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #39425D;
  
    }
    &__button{
        width: rem(180);
        height: rem(68);
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;
        font-family: 'Open Sans', normal;
        font-weight: 600;
        font-size: rem(17);
        line-height: rem(23);
        text-align: center;
        color: #FFFFFF;
        border: none;
    }
}
