.selling {
    margin-top: rem(123);
    &__content{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: rem(60);
        margin-top: 100px;
            
    }
    &__card{
        background-position: center top;
        background-repeat: no-repeat;
        border-radius: 24px;
        width: 315px;
        height: 460px;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
        &_text {
            margin: rem(330) 0 0;
            background-color: #FFFFFF;
            width: 315px;
            height: 130px;
            border-radius: 0px 0px 24px 24px; 
        }
        &_information {
            display: flex;
            flex-direction: column;
            font-size: rem(18);
            line-height: 124.5%;
            gap: rem(20);
            padding: rem(20) rem(20);
        }
        &_place-price {
            display: flex;
            justify-content: space-between;
        }
        &_time {
            display: flex;
            flex-direction: row;
            & img {
                margin-right: rem(15);
            }
        }


    }
    #rome{
        background-image: url('../img/selling/rome.png');
    }
    #london{
        background-image: url('../img/selling/london.png');
    }
    #europe{
        background-image: url('../img/selling/europe.png');
    }
    .selling__card_europe{
        position: relative;
        z-index: 99;
        &::after{
            content:url('../img/selling/decore_bg.svg');
            position: absolute;
            left: 280px;
            bottom: 40px;
            z-index: -1;
        }
    }


}