.title{
    &__promo{
        font-family: 'Volkhov', normal;
        font-weight: 700;
        font-size: rem(84);
        line-height: rem(89);
        letter-spacing: -0.04em;
        color: #181E4B;
        /* width: prc(545, 1440); */
        left: rem(650);
        margin-top: rem(24);
    }
    &__promo-subtitle{
        font-family: 'Poppins', normal;
        font-weight: 700;
        font-size: rem(20);
        line-height: rem(30);
        text-transform: uppercase;
        color: $category_before-elem;
        margin-top: rem(130);
    }
    &__offer{
        font-family: 'Volkhov', normal;
        font-weight: 700;
        font-size: rem(50);
        line-height: rem(64);
        text-align: center;
        text-transform: capitalize;
        color: $title-offer-color;
        &_booking{
            text-align: start;
        }
    }
    &__card{
        color: $title-card-color;
        font-family: 'Noto Sans', normal;
        font-style: normal;
        font-weight: 600;
        font-size: rem(20);
        line-height: rem(27);
        text-align: center;
    }
    &__option{
        font-family: 'Poppins', normal;
        font-weight: 700;
        font-size: rem(16);
        text-align: start;
        color: $describtion-text-color;
    }
}

.subtitle{
    font-family: 'Poppins', normal;
    font-weight: 600;
    font-size: rem(18);
    line-height: rem(27);
    text-align: center;
    color: $title-block-color;
    &_booking{
        text-align: start;
    }
    &__form{
        font-weight: 600;
        font-size: rem(33);
        line-height: rem(54);
        text-align: center;
        width: 80%;
    }
}

.text{
    font-family: 'Poppins', normal;
    font-weight: 500;
    font-size: rem(16);
    color: $describtion-text-color;
    &__option{
        font-weight: 400; 
        line-height: rem(20);
    }
    &__form{
        font-weight: 600;
        font-size: rem(33);
        line-height: rem(54);
        text-align: center;
        width: 80%;
        margin-top: rem(70);
    }
}

.promo__text {
    line-height: rem(30);
    margin-top: rem(30);
    width: 75%;
}

.trip{
    &__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: rem(22);
        letter-spacing: 0.015em;
        color: $title-trip-color;
        &_ongoing{
            font-weight: 500;
            font-size: 18px;
            line-height: rem(22);
            letter-spacing: -0.015em;

            &_input{
                font-family: 'Poppins';
                font-size: rem(14);
                line-height: rem(17);
                letter-spacing: -0.055em;
            }
        }
    }
    &__text{
        color: $trip-text-color;
        letter-spacing: -0.02em;
        &_ongoing{
            font-weight: 500;
            font-size: 14px;
            line-height: rem(17);
            letter-spacing: -0.035em;
            &_input{
                font-size: rem(14);
                line-height: rem(17);
                letter-spacing: -0.055em;
                color: #8A79DF;
            }
        }
    }
    &__booking{
        margin-top: rem(30);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__members img{
        margin-bottom: rem(5);
    }
}
